.skills__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.skills__cards {
    display: grid;
    grid-template-columns: repeat(4, 70%);
    gap: 1.5rem;
}

.skills__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.skills__card h3 {
    background: var(--color-dark);
    padding: 0.5rem;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}

.skills__card:hover {
    background: var(--color-dark);
    color: aliceblue;
    border-color: var(--color-primary-variant);
    cursor: default;
}

@media screen and (max-width: 1024px) {
    .skills__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .skills__cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .skills__cards {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .skills__content {
        text-align: center;
    }

    .skills__card h3 {
        border-radius: 0.8rem;
        padding: 0.2rem;
    }
}